%tr
  %td
    = link_to move.name, move_path(move)
  %td
    = move.difficulty
  %td
    = move.category
  %td
    = move.lead_start_hand
    &mdash;
    = move.follow_start_hand
  %td
    = move.lead_finish_hand
    &mdash;
    = move.follow_finish_hand
