- content_for :head do
  %script{ :type => "text/javascript", :src => "/js/jquery.media.js" }
  :javascript
    jQuery(document).ready(function() {
      $('.media').media({ width: 400, height: 300, attrs: { width: "400px", width: "300", scale: "aspect" }, autoplay: true });
    });

- widget_box(@move.name, :small => :left) do
  %table{ :style => "width:100%" }
    %thead
      %tr
        %th
        %th Start
        %th End
    %tbody
      %tr
        %td Lead
        %td= @move.lead_start_hand
        %td= @move.lead_finish_hand
      %tr
        %td Follow
        %td= @move.follow_start_hand
        %td= @move.follow_finish_hand

  %ul
    %li
      %b Beats:
      = @move.beats
    %li
      %b Difficulty:
      = @move.difficulty
    %li
      %b Category:
      = @move.category
    - if @move.bases.exists?
      %li
        %b Roots:
        - @move.bases.ordered.each do |base|
          = link_to base.name, move_path(base)
    %li
      %b Source:
      = link_to URI::parse(@move.url).host, @move.url, :target => :_blank
    
- widget_box("Video", :small => :right) do
  - if @move.local_movie?
    %p.hvlog
      = link_to "", '/movies/' + @move.local_file_name, :class => :media

- widget_box("Description") do
  %table{ :width => '100%' }
    %tbody
      - @move.move_beats.each do |beat|
        %tr
          %td{ :style => 'text-align:right;width: 30px' }
            = beat.beat
          %td
            = beat.description

- if @move.variants.exists?
  - widget_box("Variations") do
    = render 'table', :moves => @move.variants.ordered
